<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057922283011-5tde5a2343kqvm18481tmbc5m5qvi2fq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057922283011-5tde5a2343kqvm18481tmbc5m5qvi2fq</string>
	<key>API_KEY</key>
	<string>AIzaSyA389O0LSajMaXirVepeeIKdk_u8keE2Mg</string>
	<key>GCM_SENDER_ID</key>
	<string>1057922283011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eduAuth31</string>
	<key>PROJECT_ID</key>
	<string>maxstall</string>
	<key>STORAGE_BUCKET</key>
	<string>maxstall.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057922283011:ios:e20874f2850a6d2a694036</string>
	<key>DATABASE_URL</key>
	<string>https://maxstall-default-rtdb.firebaseio.com</string>
</dict>
</plist>